.noLogin{
	display:none;
}

.login img{
	padding-top: 7px; 
	width: 32px;
}

.carousel-inner .item img{
	margin: auto;
	height: 500px;
}

#spotlight img{
	margin: auto;
	height: 500px;
}

#services h2{
	display: none;
}

#techno img{
	height: 300px;
}

#spotlight{
  background:url(../img/tecnologia-banner.png) no-repeat center top;
  background-position: auto 100%;
  height: 500px;
  position: relative;
 }

#spotlight h2{
  display: none;
}

#spotlight p{
  bottom: 20px;
  color: white;
  font-family: "Brandon Grotesque Regular", Arial, sans-serif;
  font-size:48px;
  left: 20px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
}

#spotlight .highlight{
  background:rgba(235,108,76,0.8); 
  text-align:center;

}

.wrapper{
    margin:0 auto;
    max-width:62.500em;
    position:relative;
    width:95%;
  }